RewriteEngine On

RewriteCond %{HTTPS} !=on [OR]
RewriteCond %{HTTP_HOST} ^www\.crawlspaceencapsulationcharlottenc\.com$ [NC]
RewriteRule ^(.*)$ https://crawlspaceencapsulationcharlottenc.com/$1 [R=301,L]
